* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background: #0f172a;
  color: #fff;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
}

.logo span {
  color: #38bdf8;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar li {
  margin-left: 30px;
}

.navbar a {
  text-decoration: none;
  color: white;
}

/* HERO */
.hero {
  height: 100vh;
  background: linear-gradient(to right, #020617, #0f172a);
}

.hero-content {
  text-align: center;
  margin-top: 120px;
  padding: 0 20px;
}

.hero h1 {
  font-size: 42px;
}

.hero p {
  margin: 20px 0;
  color: #cbd5f5;
}

.btn {
  background: #38bdf8;
  padding: 12px 25px;
  color: black;
  text-decoration: none;
  border-radius: 6px;
}

/* SERVICES */
.services {
  padding: 80px 40px;
  text-align: center;
}

.service-box {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.card {
  background: #020617;
  padding: 30px;
  width: 280px;
  border-radius: 10px;
}

/* ABOUT */
.about {
  padding: 80px 40px;
  background: #020617;
  text-align: center;
}

/* CONTACT */
.contact {
  padding: 80px 40px;
  text-align: center;
}

.contact button {
  margin-top: 20px;
  padding: 12px 25px;
  background: #38bdf8;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

footer {
  background: #020617;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}
